@model QMR.Models.MeasureAction

@{
    ViewData["Title"] = "Edit";
}
@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jscolor.js"></script>
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="breadcrumb-item"> <a asp-action="Index">Actions</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</nav>
<hr />
@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActionId" />
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Action</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row text-center">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <label asp-for="ActionName" class="control-label"></label>
                                <input asp-for="ActionName" class="form-control" />
                                <span asp-validation-for="ActionName" class="text-danger"></span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <input type="submit" value="Save" style="margin-top:10px" class="btn btn-default btn-lg btn-success" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row text-center">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="control-label">
                                    @Html.LabelFor(model => model.ActionStatus)
                                </div>
                                @{var statusList = new List<SelectListItem>()
                                                                                                            {
                                new SelectListItem {Text = "Active", Value = "true",Selected=true},
                                new SelectListItem {Text = "InActive", Value = "false"},
                            };
                                }
                                @Html.DropDownListFor(model => model.ActionStatus, statusList)
                                @Html.ValidationMessageFor(model => model.ActionStatus)
                                <span asp-validation-for="ActionStatus" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row text-center">
                            <div class="col-md-3">
                                <label asp-for="ActionColor" class="control-label"></label>
                                <input asp-for="ActionColor" data-jscolor="{position:'right'}">
                                <span asp-validation-for="ActionColor" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

