@model IEnumerable<QMR.Models.MeasureAction>
@{
    ViewData["Title"] = "Actions";
}
<style>
    .table.dataTable {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
    }
    #successMessage {
        display: none;
    }
</style>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/respond/1.4.2/respond.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/lib/jquery/dist/DataTables/processing().js"></script>
    <style src="~/css/bootstrap.css"></style>
    <style src="~/css/datatable/jquery-datatable.min.css"></style>
    <style src="~/css/datatable/responsive.bootstrap4.css"></style>
    <style src="~/css/datatable/dataTables.jqueryui.css"></style>
    <script src="~/js/jscolor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var oTable = $('table').DataTable({
                "info": false,
                paging: false,
                searching: false,
                bAutoWidth: false,
                ordering: false
        });
            $('table').on('click', '.edit', function () {
                var id, NewValue;
                var $row = $(this).closest("tr");
                $tds = $row.find("td:nth-child(1)");
                $.each($tds, function (i, el) {
                    var currentValue = $(this).find("input").val();
                    $(this).html(currentValue);
                    actionid = $(this).text();
                    $(this).css('visibility', 'hidden');
                    id = actionid;
                });
                $tds = $row.find("td:nth-child(2)");
                $.each($tds, function (i, el) {
                    NewValue = $(this).find("input").prop('checked');
                });
               
                $.ajax({
                    url: '@Url.Action("Save")',
                    data: { id: id, ActionStatus: NewValue},

                    cache: false,
                    type: "POST",
                    success: function (data) {
                        $('#successMessage').show();
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });
            });
        })
    </script>
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Actions</li>
    </ol>
</nav>
<div id="successMessage" class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    Action Status saved Successfully!
</div>
<p>
    <a asp-action="Create">Create</a>
</p>
<table class="table table-bordered table-hover " width="75%">
    <thead>
        <tr>
            <th style="display:none">
            </th>
            <th data-step="1" data-intro="Toggle the visibility of an action. Only active Action’s will show as available for Data Steward input!">
                @Html.DisplayNameFor(model => model.ActionStatus)
            </th>
            <th data-step="2" data-intro="Click an Action name to edit its properties!">
                @Html.DisplayNameFor(model => model.ActionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionColor)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="display:none">
                    @Html.HiddenFor(modelItem => item.ActionId)
                </td>
                <td>
                    <input id="status" class="edit" type="checkbox" @(item.ActionStatus == true ? "checked='checked'" : string.Empty) />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ActionId">
                        @Html.DisplayFor(modelItem => item.ActionName)
                    </a>
                </td>
                <td>
                    <input data-jscolor="{position:'right'}" value="@item.ActionColor" />
                </td>
            </tr>
        }
    </tbody>
</table>
